@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --accent: #3DB45E;
    --dark: #17191D;
    --light: #f4f4f4;


}


h1 {
    text-align: center;
    color: var(--light);


}


body {
    background-color: var(--dark);
    font-family: 'Open Sans';
    margin: 0%;
}


.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;

}

form {
    display: flex;
    flex-direction: column;


}




div.href {

    text-align: botton;


}

.button {


    background-color: transparent;
    color: var(--accent);
    border: 1px solid white;
    font-family: 'Open Sans';
    padding: 5px;
    border-radius: 10px;


}


.button:hover {

    color: black;
    background: white;
    border: 1px solid black;
    transition: 0.5s;

}



footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 36.5vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--accent);
    background-color: #000000;

}

a {
    text-decoration: none;
    color: var(--accent);

}

.imputline {
    display: flex;
    flex-direction: column;
    color: var(--light);
    margin-top: 15px;
    
}

.questions {

    padding: 5px;
    border-radius: 10px;
    border-color: black;
}