@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --accent: yellow;
    --dark: #17191D;
    --light: #f4f4f4;
    --overlay: rgba:23, 25, 29, 0.8);
    --ease: all, 0.3s, ease 0s;

}







* {
    box-sizing: border-box;


}

h4,
tr,
th {
    font-family: 'Open Sans';
    color: var(--light)
}

h1,
h2,
h3 {
    color: var(--accent);
    font-family: 'Open Sans'
}

body {
    background-color: var(--dark)

}

